.footer{

          .footer-section2{

                    .footer-section2-a{

                              img{

                                        width: 40px;

                              }

                    }

                    .footer-section2-div{

                              justify-content: space-around;

                    }
                    
                    .footer-section2-span{

                              font-size: 16px;

                    }
          }
}