.footer .footer-section{

          height: 40%;

}

.footer .footer-section2 .footer-section2-div{

          margin-top: 5%;

}

.footer .footer-section2 .footer-section2-span{

          margin-top: 5%;

}