.main .main-section1{

          height: 65.5%;

}

.main .main-section2 .main-section2-div{

          padding-left: 5%;
          padding-right: 5%;
          padding-top: 10%;
          padding-bottom: 10%;

}

.main .main-section5 .main-section5-article .main-section5-article-div2{

          height: 25%;

}

.main .main-section6{

          height: 100vh;

}

.main .main-section6 .main-section6-article{

          height: 35%;

}

.main .main-section6 .main-section6-article3{

          height: 8%;

}

.main .main-section7{

          height: 30%;

}

.main .main-section7 .main-section7-article .main-section7-article-div{

          margin-top: 5%;

}