*{
          margin: 0;
          padding: 0;
          list-style: none;
          text-decoration: none;
          box-sizing: border-box;
          @font-face {
                    font-family: "Slack";
                    src: url("../../assets/Font/Roboto-Black.ttf");
          }
}